@{
    ViewBag.Title = "GeneralHomePage";
    Layout = "~/Views/Shared/NewMaster.cshtml";
}
<link href="../../Content/Slider/themes/1/js-image-slider.css" rel="stylesheet" />
<script src="../../Content/Slider/themes/1/js-image-slider.js"></script>
<link href="../../Content/Slider/generic.css" rel="stylesheet" />
<div  style="height:390px;">
<div id="sliderFrame">
    <br />
        <div id="slider" align="center">
            <a href="http://www.tipsglobal.org/" target="_blank">
                <img src="../../Content/Slider/images/A.jpg" alt="Welcome to TIPS" />
            </a>
            <img src="../../Content/Slider/images/B.jpg" />
            <img src="../../Content/Slider/images/C.jpg" />
            <img src="../../Content/Slider/images/D.jpg" />
            <img src="../../Content/Slider/images/E.jpg" />
            <img src="../../Content/Slider/images/F.jpg" />
        </div>
    </div>
    </div>