.ui-jqgrid tr.jqgrow td
{
    font-weight: normal;
    overflow: hidden; 
    white-space: normal;/*white-space: pre; */
    height: 22px;
    padding: 0 2px 0 2px;
    border-bottom-width: 1px;
    border-bottom-color: inherit;
    border-bottom-style: solid;
    font-size: 11px;
    font-family: Verdana;
}
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div
{
    font-size: 11px;
}
.ui-jqgrid .ui-jqgrid-htable th div
{
    height: auto;
    /*height: 42px;*/
    overflow: hidden;
    padding-right: 0;
    padding-top: 0;
    position: relative;
    vertical-align: text-top;
    white-space: normal !important;
}
