@{
    ViewBag.Title = "OverViewByMaterial";
    Layout = null;
}
<div class="row">
            <div class="col-xs-12 widget-container-col">
                <!-- PAGE CONTENT BEGINS -->
                <table id="jqGridStudentIssueReportDetailsList">
                </table>
                <div id="jqGridStudentIssueReportDetailsListPager">
                </div>
                <!-- PAGE CONTENT ENDS -->
            </div>
            <!-- /.col -->
        </div>

<script src="../../Scripts/Store/OverViewByMaterial.js"></script>
