
@{
    ViewBag.Title = "OverViewByCampus";
    Layout = null;
}
<div class="row">
            <div class="col-xs-12 widget-container-col">
                <!-- PAGE CONTENT BEGINS -->
                <table id="jqGridIssueReportDetailsList">
                </table>
                <div id="jqGridIssueReportDetailsListPager">
                </div>
                <!-- PAGE CONTENT ENDS -->
            </div>
            <!-- /.col -->
        </div>

<script src="../../Scripts/Store/OverViewByCampus.js"></script>
