@model TIPS.Entities.StoreEntities.MaterialSubGroupMaster
@{
    Layout = "~/Views/Shared/NewAcePartialViewMaster.cshtml";
}
<div class="row">
    <div class="space-2">
    </div>
    <div class="col-xs-12">
        <table id="StoreMaterialGroupList">
        </table>
        <div id="StoreMaterialGroupListPager">
        </div>
    </div>
</div>
