@{
    Layout = "~/Views/Shared/NewAcePartialViewMaster.cshtml";
}
<div class="row">
    <div class="space-2"></div>
    <div class="col-xs-12">
        <table id="StoreMaterialsList">
        </table>
        <div id="StoreMaterialsListPager">
        </div>
    </div>
</div>
