@{
    ViewBag.Title = "StudentMaterialSubOverView";
}

<div class="row">
            <div class="col-xs-12 widget-container-col">
                <!-- PAGE CONTENT BEGINS -->
                <table id="GetJqGridStudentMaterialSubOverView_vwList">
                </table>
                <div id="GetJqGridStudentMaterialSubOverView_vwListPager">
                </div>
                <!-- PAGE CONTENT ENDS -->
            </div>
            </div>