@model TIPS.Entities.AdmissionEntities.StudentTemplateView
@{
    ViewBag.Title = "StudentRouteConfigReport";
    Layout = "~/Views/Shared/NewAceMaster.cshtml";
}
<div class="page-content">
    <div class="page-content-area">
        <span>@Html.Raw(ViewBag.BreadCrumb)</span>
        <div class="row">
            <div class="col-xs-12 widget-container-col">
                <div class="widget-box widget-color-CustomizeBlue">
                    <div class="widget-header widget-header-flat widget-header-small">
                        <div class="PanelHeader">
                            <i class="ace-icon fa fa-search"></i>&nbsp;Search Pannel</div>
                        <div class="widget-toolbar">
                            <a data-action="collapse" href="#"><i class="1 ace-icon fa fa-chevron-down fa-6x"></i>
                            </a>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main no-padding">
                            <div class="row" style="margin-top: 10px; margin-left: 3px; margin-bottom: 5px;">
                                <div class="col-xs-12">
                                    <div class="col-sm-2">
                                        <label for="form-field-select-1">
                                            <b>Campus</b></label>
                                        @Html.DropDownListFor(Model => Model.Campus, new SelectList(ViewBag.campusddl, "Name", "Name"), "Select Campus", new { id = "ddlcampus", @Class = "form-control select-sm" })
                                    </div>
                                    <div class="col-sm-2">
                                        <label for="form-field-select-1">
                                            <b>Grade</b></label>
                                        @Html.DropDownListFor(Model => Model.Grade, new SelectList(ViewBag.gradeddl1, "gradcod", "gradcod"), "Select Grade", new { id = "ddlgrade", @Class = "form-control select-sm" })
                                    </div>
                                    <div class="col-sm-2">
                                        <label for="form-field-select-1">
                                            <b>Section</b></label>
                                        @Html.DropDownListFor(Model => Model.Section, new SelectList(ViewBag.sectionddl, "Section", "Section"), "Select One", new { id = "ddlsection", @Class = "form-control select-sm" })
                                    </div>
                                    <div class="col-sm-1">
                                        <br />
                                        <button class="btn btn-block btn-SearchBtn" type="button" id="Search">
                                            <i class="ace-icon fa fa-search bigger-110"></i>Search</button>
                                    </div>
                                    <div class="col-sm-1">
                                        <br />
                                        <button class="btn btn-block btn-danger" type="button" id="reset">
                                            <i class="ace-icon fa fa-undo bigger-110"></i>Reset</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-2">
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table id="StudentRouteConfigReport">
                </table>
                <div id="StudentRouteConfigReportPager">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../Scripts/Transport/StudentRouteConfigReport.js"></script>
