@{
    ViewBag.Title = "Add New Survey Answer Master";
    Layout = null;
}

@Html.Hidden("hdnSurveyQuestionId", "", new { @Value = ViewBag.SurveyQuestionId })
 <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <table id="GetJqGridAddNewsurveyanswerList">
                </table>
                <div id="GetJqGridAddNewsurveyanswerListPager">
                </div>
                <!-- PAGE CONTENT ENDS -->
            </div>
            <!-- /.col -->

        </div>
<script src="../../Scripts/StaffManagementScripts/AddNewSurveyAnswerMaster.js"></script>
<style>
#editmodGetJqGridAddNewsurveyanswerList{
    z-index: 1000000 !important;
}
</style>