@model TIPS.Entities.StaffManagementEntities.StaffDetails
<div class="row">
    <div class="col-xs-12 widget-container-col">
        <div class="widget-box widget-color-CustomizeBlue">
            <div class="widget-header widget-header-flat widget-header-small">
                <div class="PanelHeader">
                    <i class="ace-icon fa fa-tasks"></i>&nbsp;Reference Details</div>
                <div class="widget-toolbar">
                    <a data-action="collapse" href="#"><i class="1 ace-icon fa fa-chevron-down fa-6x"></i>
                    </a>
                </div>
            </div>
            <div class="widget-body">
                <div class="widget-main no-padding">
                    <div class="row" style="margin-top: 10px; margin-left: 3px; margin-bottom: 5px;">
                        <div class="col-xs-12">
                            <div class="col-sm-2">
                                <label for="form-field-select-1">
                                    <b>Name</b></label>
                                @Html.TextBoxFor(model => model.StaffReferenceDetailsList[0].RefName, new { id = "RefName", @Class = "form-control input-sm", @maxlength = "100" })
                            </div>
                            <div class="col-sm-2">
                                <label for="form-field-select-1">
                                    <b>Contact Number</b></label>
                                @Html.TextBoxFor(model => model.StaffReferenceDetailsList[0].RefContactNo, new { id = "RefContactNo", @Class = "form-control input-sm", @maxlength = "100" })
                            </div>
                            <div class="col-sm-3">
                                <label for="form-field-select-1">
                                    <b>How you Know him/her?</b></label>
                                @Html.TextBoxFor(model => model.StaffReferenceDetailsList[0].RefHowKnow, new { id = "RefHowKnow", @Class = "form-control input-sm", @maxlength = "90" })
                            </div>
                            <div class="col-sm-2">
                                <label for="form-field-select-1">
                                    <b>How long you know?</b></label>
                                @Html.TextBoxFor(model => model.StaffReferenceDetailsList[0].RefHowLongKnow, new { id = "RefHowLongKnow", @Class = "form-control input-sm", @maxlength = "90" })
                            </div>
                            <div class="col-xs-1">
                                <br />
                                <button type="button" class="btn btn-primary btn-block btn-sm" id="AddReferenceData">
                                    <i class="ace-icon fa fa-plus white"></i>Add
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="space-8">
</div>
<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <table id="ReferenceDetailsList">
        </table>
        <div id="ReferenceDetailsPager">
        </div>
        <script type="text/javascript">
            var $path_base = ".."; //in Ace demo this will be used for editurl parameter
        </script>
        <!-- PAGE CONTENT ENDS -->
    </div>
    <!-- /.col -->
</div>
<div class="space-6">
</div>
<div class="space-6">
</div>
<div class="space-6">
</div>
<div class="space-6">
</div>
<script src="../../Scripts/StaffManagementScripts/ReferenceDetails.js" type="text/javascript"></script>
<script src="../../assets/js/AceJQMsg.js" type="text/javascript"></script>
