@{
    ViewBag.Title = "Staff Programme Master";
    Layout = "~/Views/Shared/NewAceMaster.cshtml";
}
<div class="page-content">
    <!-- /section:settings.box -->
    <div class="page-content-area">
        <span>@Html.Raw(ViewBag.BreadCrumb)</span>
        <div class="row">
            <div class="col-xs-12 widget-container-col">
                <div class="widget-box widget-color-CustomizeBlue">
                    @*<div class="widget-header widget-header-small">*@
                    <div class="widget-header widget-header-flat widget-header-small">
                        <div class="PanelHeader">
                            <i class="ace-icon fa fa-search"></i>&nbsp;Search Panel
                        </div>
                        <div class="widget-toolbar">
                            <a data-action="collapse" href="#"><i class="1 ace-icon fa fa-chevron-down fa-6x"></i>
                            </a>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main no-padding">
                            <div class="row" style="margin-top: 10px; margin-left: 3px; margin-bottom: 5px;">
                                <div class="col-xs-12">

                                    <div class="col-sm-2">
                                        <label for="form-field-select-1">
                                            <b>Campus</b></label>
                                        @Html.DropDownList("Campus", new SelectList(Enumerable.Empty<SelectListItem>()), "----Select----", new { @Class = "form-control select-sm" })
                                    </div>
                                    <div class="col-sm-2">
                                        <label for="form-field-select-1">
                                            <b>Staff Type</b></label>
                                        @Html.DropDownList("ddlStaffType", new SelectList(new[]
                                          {
                                              new{Value="",Text="Select "},
                                              new{Value="Teaching",Text="Teaching"},
                                              new{Value="Non Teaching",Text="Non Teaching"}                                              
                                          },
                            "Value", "Text", ""), new { id = "ddlStaffType", @Class = "form-control select-sm" })
                                    </div>
                                    <div class="col-sm-2">
                                        <label for="form-field-select-1">
                                            <b>Group Name</b></label>
                                        @Html.TextBox("txtProgrammeName", "", new { @Class = "form-control input-sm" })
                                    </div>
                                    <div class="col-sm-1">
                                        <br />
                                        <button class="btn btn-primary btn-info btn-block btn-sm" id="btnSearch">
                                            <i class="ace-icon fa fa-search white"></i>Search
                                        </button>
                                    </div>
                                    <div class="col-sm-1">
                                        <br />
                                        <button class="btn btn-danger btn-warning btn-block btn-sm" id="btnReset">
                                            <i class="ace-icon fa fa-undo white"></i>Reset
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-2">
        </div>
        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <table id="StaffProgrammeMasterJqgrid">
                </table>
                <div id="StaffProgrammeMasterJqgridpager">
                </div>
                <!-- PAGE CONTENT ENDS -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.page-content-area -->
</div>
<script src="../../Scripts/StaffManagementScripts/StaffProgrammeMaster.js"></script>
