@{
    ViewBag.Title = "Staff Working Days Master";
    Layout = "~/Views/Shared/NewAceMaster.cshtml";
}
 <span>@Html.Raw(ViewBag.BreadCrumb)</span>
 <div class="row">
            <div class="col-sm-12">
                <table id="StaffWorkingDaysMasterGridList">
                </table>
                <div id="StaffWorkingDaysMasterGridListPager">
                </div>
            </div>
        </div>
<script src="../../Scripts/StaffManagementScripts/StaffWorkingDaysMaster.js"></script>