@{
    ViewBag.Title = "Campus Wise Usage Module";
    Layout = "~/Views/Shared/NewAceMaster.cshtml";
}


<table id="CampusWiseUsageModule_vwGrid">
</table> 
<div id="CampusWiseUsageModule_vwGridPager">
</div>
<script src="../../Scripts/Reports/CampusWiseUsageModule.js"></script>
