@{
    ViewBag.Title = "Campus Wise Module Usage Report";
    Layout = "~/Views/Shared/NewAceMaster.cshtml";
}
<table id="CampusWiseModuleUsageReport_vwGrid">
</table>
<div id="CampusWiseModuleUsageReport_vwPager">
</div>

<script src="../../Scripts/Reports/CampusWiseModuleUsageReport.js"></script>
