<!doctype html>
<html><head>
    <meta charset="utf-8">
    <title>BLOCKS - Bootstrap Dashboard Theme</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="~/assets/dashboard/css/bootstrap.css" rel="stylesheet" />
    @*<link href="assets/dashboard/css/bootstrap.css" rel="stylesheet">*@
    <link href="~/assets/dashboard/css/main.css" rel="stylesheet" />
    @*<link href="assets/dashboard/css/main.css" rel="stylesheet">*@
    <!-- DATA TABLE CSS -->
    @*<link href="assets/dashboard/css/table.css" rel="stylesheet">*@
    <link href="~/assets/dashboard/css/table.css" rel="stylesheet" />


    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

  	<!-- Google Fonts call. Font Used Open Sans -->
  	<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">

  	<!-- DataTables Initialization -->
    <script type="text/javascript" src="assets/js/datatables/jquery.dataTables.js"></script>
  			<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$('#dt1').dataTable();
			} );
	</script>

    
  </head>
  <body>
  
  	<!-- NAVIGATION MENU -->

<!--    <div class="navbar-nav navbar-inverse navbar-fixed-top">
        <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html"><img src="assets/img/logo30.png" alt=""> BLOCKS Dashboard</a>
        </div> 
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="index.html"><i class="icon-home icon-white"></i> Home</a></li>
              <li><a href="manager.html"><i class="icon-folder-open icon-white"></i> File Manager</a></li>
              <li><a href="calendar.html"><i class="icon-calendar icon-white"></i> Calendar</a></li>
              <li class="active"><a href="tables.html"><i class="icon-th icon-white"></i> Tables</a></li>
              <li><a href="login.html"><i class="icon-lock icon-white"></i> Login</a></li>
              <li><a href="user.html"><i class="icon-user icon-white"></i> User</a></li>

            </ul>
          </div><!--/.nav-collapse -->
       <!-- </div>
    </div>-->

  <!--  <div class="container">-->

      <!-- CONTENT -->
	<!-- /row -->
     <!--</div>--> <!-- /container -->
    <!--	<br>-->

      	<div class="container">
      	    <h4><strong>HR DashBoard</strong></h4>
      		<div class="row">
      			<div class="col-sm-3 col-lg-3">
      				<div id="hosting-table">
						<div class="table_style4"> 
							<div class="column">
								<ul>
				                  	<li><strong>CAMPUS DETAILS</strong></li>
									<li class="header_row">
										<h1>TIPS-GREEN PARK</h1>
									</li>
									<li>ACADEMIC STAFFS <a class="tt" href="#"><b>(80)</b><span class="tooltip"><span class="triangle-obtuse">Total no.of academic staffs in the campus Tips-salem </span></span></a></li>
									<li>NON ACADMEIC STAFFS</li> 
									<li>HELPERS<a class="tt" href="#">(45)<span class="tooltip"><span class="triangle-obtuse">Do your layouts deserve better than Lorem Ipsum?</span></span></a></li> 
									<li>DRIVERS</li>
				                    <li>CO-ORDINATORS<a class="tt" href="#">(10)<span class="tooltip"><span class="triangle-obtuse">Apply as an art than director Do your</span></span></a></li>
                                    <li>NEW NAME<a class="tt" href="#">(10)<span class="tooltip"><span class="triangle-obtuse">Apply as an art than director Do your</span></span></a></li>
                                    <li>NEW NAME<a class="tt" href="#">(10)<span class="tooltip"><span class="triangle-obtuse">Apply as an art than director Do your</span></span></a></li>
                                    <li>NEW NAME<a class="tt" href="#">(10)<span class="tooltip"><span class="triangle-obtuse">Apply as an art than director Do your</span></span></a></li>
				                    @*<li>Half Privacy</li>*@
									<li class="footer_row"><a href="#" class="hosting-button">VIEW IN MORE DETAIL</a></li>
								</ul>
							</div><!--/ column-->
						</div><!--/ Table Style-->
					</div><!--/ Hosting Table-->	
      			</div><!-- /span3 -->	
      			<div class="col-sm-3 col-lg-3">
      				<div id="hosting-table">
						<div class="table_style4"> 
							<div class="column">
								<ul>
				                  	<li><strong>CAMPUS DETAILS</strong></li>
									<li class="header_row">
										<h1>SALEM KG</h1>
									</li>
									<li>ACADEMIC STAFFS <a class="tt" href="#"><b>(80)</b><span class="tooltip"><span class="triangle-obtuse">Total no.of academic staffs in the campus Tips-salem </span></span></a></li>
									<li>NON ACADMEIC STAFFS</li> 
									<li>HELPERS<a class="tt" href="#">(45)<span class="tooltip"><span class="triangle-obtuse">Do your layouts deserve better than Lorem Ipsum?</span></span></a></li> 
									<li>DRIVERS</li>
				                    <li>CO-ORDINATORS<a class="tt" href="#">(10)<span class="tooltip"><span class="triangle-obtuse">Apply as an art than director Do your</span></span></a></li>
                                    <li>NEW NAME <a class="tt" href="#">(10)<span class="tooltip"><span class="triangle-obtuse">Apply as an art than director Do your</span></span></a></li>
                                    <li>NEW NAME<a class="tt" href="#">(10)<span class="tooltip"><span class="triangle-obtuse">Apply as an art than director Do your</span></span></a></li>
                                    <li>NEW NAME<a class="tt" href="#">(10)<span class="tooltip"><span class="triangle-obtuse">Apply as an art than director Do your</span></span></a></li>
				                    @*<li>Half Privacy</li>*@
									<li class="footer_row"><a href="#" class="hosting-button">VIEW IN MORE DETAIL</a></li>
								</ul>
							</div><!--/ column-->
						</div><!--/ Table Style-->
					</div><!--/ Hosting Table-->	
      			</div><!-- /span3 -->	
      			<div class="col-sm-3 col-lg-3">
      				<div id="hosting-table">
						<div class="table_style4"> 
							<div class="column">
								<ul>
				                  	<li><strong>CAMPUS DETAILS</strong></li>
									<li class="header_row">
										<h1>SALEM MAIN</h1>
									</li>
									<li>ACADEMIC STAFFS <a class="tt" href="#"><b>(80)</b><span class="tooltip"><span class="triangle-obtuse">Total no.of academic staffs in the campus Tips-salem </span></span></a></li>
									<li>NON ACADMEIC STAFFS</li> 
									<li>HELPERS<a class="tt" href="#">(45)<span class="tooltip"><span class="triangle-obtuse">Do your layouts deserve better than Lorem Ipsum?</span></span></a></li> 
									<li>DRIVERS</li>
				                    <li>CO-ORDINATORS<a class="tt" href="#">(10)<span class="tooltip"><span class="triangle-obtuse">Apply as an art than director Do your</span></span></a></li>
                                    <li>NEW NAME <a class="tt" href="#">(10)<span class="tooltip"><span class="triangle-obtuse">Apply as an art than director Do your</span></span></a></li>
                                    <li>NEW NAME<a class="tt" href="#">(10)<span class="tooltip"><span class="triangle-obtuse">Apply as an art than director Do your</span></span></a></li>
                                    <li>NEW NAME<a class="tt" href="#">(10)<span class="tooltip"><span class="triangle-obtuse">Apply as an art than director Do your</span></span></a></li>
				                    @*<li>Half Privacy</li>*@
									<li class="footer_row"><a href="#" class="hosting-button">VIEW IN MORE DETAIL</a></li>
								</ul>
							</div><!--/ column-->
						</div><!--/ Table Style-->
					</div><!--/ Hosting Table-->	
      			</div><!-- /span3 -->	
      			<div class="col-sm-3 col-lg-3">
      				<div id="hosting-table">
						<div class="table_style4"> 
							<div class="column">
								<ul>
				                  	<li><strong>CAMPUS DETAILS</strong></li>
									<li class="header_row">
										<h1>TIPS-E CBSE</h1>
									</li>
									<li>ACADEMIC STAFFS <a class="tt" href="#"><b>(80)</b><span class="tooltip"><span class="triangle-obtuse">Total no.of academic staffs in the campus Tips-salem </span></span></a></li>
									<li>NON ACADMEIC STAFFS</li> 
									<li>HELPERS<a class="tt" href="#">(45)<span class="tooltip"><span class="triangle-obtuse">Do your layouts deserve better than Lorem Ipsum?</span></span></a></li> 
									<li>DRIVERS</li>
				                    <li>CO-ORDINATORS<a class="tt" href="#">(10)<span class="tooltip"><span class="triangle-obtuse">Apply as an art than director Do your</span></span></a></li>
                                      <li>NEW NAME <a class="tt" href="#">(10)<span class="tooltip"><span class="triangle-obtuse">Apply as an art than director Do your</span></span></a></li>
                                    <li>NEW NAME<a class="tt" href="#">(10)<span class="tooltip"><span class="triangle-obtuse">Apply as an art than director Do your</span></span></a></li>
                                    <li>NEW NAME<a class="tt" href="#">(10)<span class="tooltip"><span class="triangle-obtuse">Apply as an art than director Do your</span></span></a></li>

				                    @*<li>Half Privacy</li>*@
									<li class="footer_row"><a href="#" class="hosting-button">VIEW IN MORE DETAIL</a></li>
								</ul>
							</div><!--/ column-->
						</div><!--/ Table Style-->
					</div><!--/ Hosting Table-->	
      			</div><!-- /span3 -->	

      		</div><!-- /row -->
      	</div><!-- /container -->
      	<br>
	<!-- FOOTER -->	
	@*<div id="footerwrap">
      	<footer class="clearfix"></footer>
      	<div class="container">
      		<div class="row">
      			<div class="col-sm-12 col-lg-12">
      			<p><img src="assets/img/logo.png" alt=""></p>
      			<p>Blocks Dashboard Theme - Crafted With Love - Copyright 2013</p>
      			</div>

      		</div><!-- /row -->
      	</div><!-- /container -->		
	</div>*@<!-- /footerwrap -->


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="assets/dashboard/js/bootstrap.js"></script>
    <script type="text/javascript" src="assets/dashboard/js/admin.js"></script>

  
</body></html>