@{
    ViewBag.Title = "Activities";
    Layout = null;
}
<script src="../../Scripts/TicketingSystem/Activities.js" type="text/javascript"></script>
<div class="page-content">
    <div class="page-content-area">
        <div class="row">
            <div class="col-xs-12">
                <table id="ActivitiesHstryList" class="InnerTable">
                </table>
                <div id="ActivitiesHstryPager">
                </div>
            </div>
        </div>
    </div>
</div>
