@{
    Layout = null;
}
<style type="text/css">
    #StaffIssueMgmtRptChart {
        width: 400px;
        height: 200px;
        position: relative;
        margin: 0 auto;
    }
</style>
<div class="row">
    <div class="widget-box widget-color-CustomizeBlue">
        <div class="widget-header widget-header-flat widget-header-small">
            <div class="PanelHeader">
                <i class="ace-icon fa fa-bar-chart-o"></i>&nbsp;Staff Issue Management Report Pie Chart
            </div>
            <div class="widget-toolbar">
                <a data-action="reload" href="#"><i class="ace-icon fa fa-refresh"></i></a>
                <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
                <a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>
            </div>
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <div id="StaffIssueMgmtRptChart"></div>
                <div id="StaffIssueMgmtRptChart1">Please Select Performer to View Chart</div>
            </div>
        </div>
    </div>
</div>





