@{
    Layout = null;
}
<style type="text/css">
    /*#AdmsBarChart { width: 400px; height: 200px; position: relative; margin: 0 auto; }*/
    #StaffIssueMgmtDateWiseRptChart {
        width: 400px;
        height: 200px;
        position: relative;
        margin: 0 auto;
    }
    /*#YearWiseAdmsnRpt { width: 400px; height: 200px; position: relative; margin: 0 auto; }*/
    /*#flot-tooltip { font-size: 12px; font-family: Verdana, Arial, sans-serif; position: absolute; display: none; border: 2px solid; padding: 2px; background-color: #FFF; opacity: 0.8; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; }
    .widget-color-grey {
        border-color: white;
    }
    .widget-color-green {
        border-color: white;
    }*/
</style>

<div class="row">                    
            <div class="widget-box widget-color-CustomizeBlue">
                <div class="widget-header widget-header-flat widget-header-small">
                    <div class="PanelHeader">
                        <i class="ace-icon fa fa-bar-chart-o"></i>&nbsp;Staff Issue Management Date Wise Report Pie Chart
                    </div>                    
                    <div class="widget-toolbar">                        
                        <a data-action="reload" href="#"><i class="ace-icon fa fa-refresh"></i></a>
                        <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
                        <a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>
                    </div>                    
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <div id="StaffIssueMgmtDateWiseRptChart"></div>
                        <div id="StaffIssueMgmtDateWiseRptChart1">Please Select Performer to View Chart</div>
                    </div>
                </div>            
    </div>
</div>






