@model TIPS.Entities.AdmissionEntities.StudentTemplate
@{
    Layout = null;
}
<script type="text/javascript">

    function validateregister() {
        var feestruct = document.getElementById("feestructddl").value;

        var status = document.getElementById("Status").value;

        var asignsection = document.getElementById("AssignSection").value;

        if ((status == 'Registered')) {
            if (status == "") {
                ErrMsg('Please Select Status!');
                return false;
            }
            if (feestruct == "") {
                ErrMsg('Please Select Fee Structure Year!');
                return false;
            }
            if (asignsection == "") {
                ErrMsg('Please Select Section!');
                return false;
            }
        }
        if ((status == '')) {
            if (status == "") {
                ErrMsg('Please Select Status!');
                return false;
            }
            if (feestruct == "") {
                ErrMsg('Please Select Fee Structure Year!');
                return false;
            }
            if (asignsection == "") {
                ErrMsg('Please Select Section!');
                return false;
            }
        }
        else {
            return true;
        }
    }
</script>
<!DOCTYPE html>
@using (Html.BeginForm("BulkRegister", "Admission", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <html>
    <head>
        <title>BulkRegister</title>
    </head>
    <body>
        <div>
            <table class="WithBorderOnly">
                <tr>
                    <th width="20%">
                        <label>
                            Status</label>
                    </th>
                    <th width="20%">
                        <label>
                            Fee Structure Year</label>
                    </th>
                    <th width="20%">
                        <label>
                            Assign Section</label>
                    </th>
                    <th width="20%">
                        <label>
                        </label>
                    </th>
                </tr>
                <tr>
                    <td>
                        @Html.DropDownListFor(Model => Model.AdmissionStatus, new SelectList(new[]
                                          {
                                              new{Value="",Text="Select One"},
                                              new{Value="Registered",Text="Registered"},
                                              new{Value="On Hold",Text="On Hold"},
                                              new{Value="Declined",Text="Declined"},
                                              new{Value="Call For Interview",Text="Call For Interview"}
                                          },
                            "Value", "Text", ""), new { id = "Status", @Class = "CSSDropDownList" })
                    </td>
                    <td>
                        @Html.DropDownListFor(Model => Model.FeeStructYear, new SelectList(ViewBag.feestructyrddl, "FeeStructureYear", "AcademicYear"), "Select", new { id = "feestructddl", @Class = "CSSDropDownList" })
                    </td>
                    <td>
                        @Html.DropDownListFor(Model => Model.Section, new SelectList(ViewBag.sectionddl, "Section", "Section"), "Select", new { id = "AssignSection", @Class = "CSSDropDownList" })
                    </td>
                </tr>
            </table>
            <input type="submit" value="Register" onclick="return(validateregister());" />
        </div>
    </body>
    </html>
}