@model TIPS.Entities.UserAppRole


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/NewMaster.cshtml";
}
<html><head>
Index
</head>


<body>
<div>
<table>
<tr><td>
@Html.Partial("Test1")
</td></tr>
</table>
</div>

</body>
</html>