@{
    ViewBag.Title = "ClosingBalanceView";
    Layout = null;
}


<div class="row">
    <div class="col-xs-12">
        <table id="StaffClosingBalanceJqGridList">
        </table>
        <div id="StaffClosingBalanceJqGridListPager">
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/BioMetricAttendance/ClosingBalanceView.js")" type="text/javascript"></script>
