@{
    Layout = "~/Views/Shared/NewAcePartialViewMaster.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <table id="jqGridTrash">
        </table>
        <div id="jqGridTrashPager">
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div>
    <!-- /.col -->
</div>
<div id="Activities"></div>

<script src="../../Scripts/Inbox/Inbox.js"></script>
