@model TIPS.Entities.Assess.Assess360
<html>
<head>
    <title></title>
    <script type="text/javascript">
        $(function () {
            $('.obtotalMarks').hide();
            $("#btnStaffPopup").button({ icons: { primary: "ui-icon-search" },
                text: false
            });
            $('#btnResetT2').hide();
            if ($('#loggedInUserType').val() == "Staff") {
                $('#Staff').val($('#loggedInUserName').val());
                $('#btnStaffPopup').hide();
            }

            $('#btnStaffPopup').click(function () {
                GetStaffPopup();
            });

            $(".datepicker").datepicker({
                showOn: "button",
                buttonImage: "../../Images/date.gif",
                buttonImageOnly: true
            });

            $('.datepicker').datepicker('option', 'dateFormat', 'dd-M-yy');

            $('#HWRAssmntType').change(function () {
                // 
                $('#hdnIsCredit').val($('#HWRAssmntType option:selected').attr('IsCredit'));
                if ($('#HWRAssmntType option:selected').text() == "Homework score") {
                    $('.snglMarks').hide();
                    $('.obtotalMarks').show();
                    $('#HWRMarks').val('');
                } else {
                    $('.snglMarks').show();
                    $('.obtotalMarks').hide();
                    $('#HWRTotalMarks').val('');
                    $('#HWRobtainedMarks').val('');

                    var arrMarks = new Array();
                    arrMarks = $('#HWRAssmntType option:selected').attr('Marks').split(',');

                    $('#HWRMarks').empty();
                    $('#HWRMarks').append("<option value=''> Select </option>");
                    for (var i = 0; i < arrMarks.length; i++) {
                        $('#HWRMarks').append("<option value='" + arrMarks[i] + "'>" + arrMarks[i] + "</option>");
                    }
                }
            });

            //            function btnActions(cellvalue, options, rowdata) {
            //                var saveBtn = "", delBtn = "";
            //                if (rowdata[12] == $('#loggedInUserId').val()) {
            //                    saveBtn = "<button id='T2btnUpdate_" + options.rowId + "' style='height:10px;width:20px;' class='T2CompUpdate' rowid='" + options.rowId + "' title='Update' type='button'>.</button>";
            //                    delBtn = "<button id='T2btnDel_" + options.rowId + "' style='height:10px;width:20px;' class='T2CompDel' rowid='" + options.rowId + "' title='Delete' type='button'>.</button>";
            //                }
            //                return saveBtn + delBtn;
            //            }
            function frmtrUpdate(cellvalue, options, rowdata) {
                var saveBtn = "";
                if (rowdata[12] == $('#loggedInUserId').val()) {
                    saveBtn = "<span id='T2btnUpdate_" + options.rowId + "'class='ui-icon ui-icon-pencil T2CompUpdate'  rowid='" + options.rowId + "' title='Update'></span>";
                }
                return saveBtn;
            }
            function frmtrDel(cellvalue, options, rowdata) {
                var delBtn = "";
                if (rowdata[12] == $('#loggedInUserId').val()) {
                    delBtn = "<span id='T2btnDel_" + options.rowId + "'class='ui-icon ui-icon-trash T2CompDel' rowid='" + options.rowId + "' title='Delete'></span>";
                }
                return delBtn;
            }


            $("#HomeWorkRelatedList").jqGrid({
                mtype: 'GET',
                url: '/Assess360/GetAssess360ComponentListWithPagingAndCriteria',
                postData: { Assess360Id: $('#Id').val(), tab: 2 },
                datatype: 'json',
                height: '185',
                width: '1190',
                shrinkToFit: true,
                colNames: ['Id', 'Assess360Id', 'AssessCompGroup', 'IsCredit', 'Type', 'Subject', 'Staff', 'Date of Assigning', 'Mark Awarded', 'Assignment/Homework Name', 'Description', 'Created Date', 'Entered By', '', ''],
                colModel: [
                          { name: 'Id', index: 'Id', hidden: true, key: true },
                          { name: 'Assess360Id', index: 'Assess360Id', hidden: true },
                          { name: 'AssessCompGroup', index: 'AssessCompGroup', hidden: true },
                          { name: 'IsCredit', index: 'IsCredit', hidden: true },
                          { name: 'GroupName', index: 'GroupName', sortable: false },
                          { name: 'Subject', index: 'Subject', sortable: false },
                          { name: 'Staff', index: 'Staff', sortable: false },
                          { name: 'IncidentDate', index: 'IncidentDate', sortable: false },
                          { name: 'MarkDetails', index: 'MarkDetails', sortable: false },
                          { name: 'AssignmentName', index: 'AssignmentName', sortable: false },
                          { name: 'Description', index: 'Description', sortable: false, hidden: true },
                          { name: 'DateCreated', index: 'DateCreated', sortable: false },
                          { name: 'EnteredBy', index: 'EnteredBy', sortable: false, hidden: true },
                          { name: 'Update', index: 'Update', width: 30, align: 'center', sortable: false, formatter: frmtrUpdate },
                          { name: 'Delete', index: 'Delete', width: 30, align: "center", sortable: false, formatter: frmtrDel }
                          ],
                pager: '#HomeWorkRelatedPage',
                rowNum: '10',
                rowList: [5, 10, 20, 50, 100, 150, 200],
                viewrecords: true,
                sortname: 'Id',
                sortorder: 'Desc',
                gridComplete: function () {
                    var rdata = $("#HomeWorkRelatedList").getRowData();
                    if (rdata.length > 0) {
                        $('.T2CompUpdate').click(function () { UpdateComponentDtlsT2($(this).attr('rowid')); });
                        $('.T2CompDel').click(function () { DeleteComponentDtlsT2($(this).attr('rowid')); });
                    }
                }
            });
        });

        $('#btnResetT2').click(function () {
            $('#Assess360ComponentId').val('');
            $('#A360CompCreatedDate').val('');
            $('#HomeWorkRelated').click();
        });

        function DeleteComponentDtlsT2(id) {
            if (confirm("Are you sure you want to delete this item?")) {
                DeleteComponentIds(
                '/Assess360/DeleteAssess360Component?Assess360ComponentIds=' + id, //delURL, 
                '/Assess360/GetAssess360ComponentListWithPagingAndCriteria?Assess360Id=' + $('#Id').val() + '&tab=2', //reloadURL, 
                $("#HomeWorkRelatedList") //GridId, 
                );
            }
            return false;
        }

        function UpdateComponentDtlsT2(id) {
            $('#btnAddHWR').val('Update');
            $('#btnResetT2').show();
            var rowData = $("#HomeWorkRelatedList").getRowData(id);
            $('#Staff').val(rowData.Staff);

            var cmps = document.getElementById("HWRAssmntType");
            for (i = 0; i < cmps.options.length; i++) {
                if (cmps.options[i].text == rowData.GroupName) {
                    cmps.selectedIndex = i;
                    $('#HWRAssmntType').change();
                }
            }

            var subj = document.getElementById("HWRSubject");
            for (i = 0; i < subj.options.length; i++) {
                if (subj.options[i].text == rowData.Subject) {
                    subj.selectedIndex = i;
                }
            }

            if (rowData.GroupName == 'Homework score') {
                $('#HWRobtainedMarks').val(rowData.MarkDetails.substring(0, rowData.MarkDetails.lastIndexOf("/")));
                $('#HWRTotalMarks').val(rowData.MarkDetails.substring(rowData.MarkDetails.lastIndexOf("/") + 1, rowData.MarkDetails.length));
            } else {
                var mrks = document.getElementById("HWRMarks");
                for (i = 0; i < mrks.options.length; i++) {
                    if (parseFloat(mrks.options[i].value) == parseFloat(rowData.MarkDetails)) {
                        mrks.selectedIndex = i;
                    }
                }
            }

            $('#HWRDatofAssgn').val(rowData.IncidentDate);
            //$('#HWRAssmntName').val(rowData.AssignmentName);
            /*
            This method added by Lee on 22-Jun-2013, 
            Earlier this is a free text, 
            now it has been turned to Master data.
            */
            GetAssignmentName('HWRAssmntName', rowData.AssignmentName);

            $('#Assess360ComponentId').val(rowData.Id);
            $('#A360CompCreatedDate').val(rowData.DateCreated);
        }

        $('#btnAddHWR').click(function () {
            SaveOrUpdateAssess360Component('HomeWorkRelated');
        });

        $("#HWRSubject").change(function () {

            var cam = $("#hdnCampus").val();
            var gra = $("#Grade").val();
            var sub = $("#HWRSubject").val();
            var assgnname = $("#HWRAssmntName").val();

            GetAssignmentNameByCampusGradeSubject('HWRAssmntName', assgnname, cam, gra, encodeURIComponent(sub))
        });
    </script>
</head>
<body style="width: 100%">
    <div id="HomeWorkRelated">
        <br />
        <table id="HomeWorkRelatedList">
        </table>
        <div id="HomeWorkRelatedPage">
        </div>
    </div>
</body>
</html>
