@model TIPS.Entities.AdmissionEntities.StudentTemplate

@{
    Layout = null;
}

<script type="text/javascript">
    function validate2() {

        if ((document.getElementById('Father2').checked == false) && (document.getElementById('Mother2').checked == false) && (document.getElementById('General2').checked == false)) {
            ErrMsg("Please Check To Whom Do You Want To Send The Mail!");
            return false;
        }
    }
</script>

@using (Html.BeginForm("Pointchartbulkmail", "Assess360", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<html>
<head>    
    <title>CampusEmail</title>
</head>
<body>
<div style="height:5px"></div>
<div>
       <table class="WithBorderOnly" style="border:none" width="100%">
                    <tr>
                        <th align="left">
                           Send To &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp @Html.CheckBoxFor(model => model.Father, new { id = "Father2" }) &nbsp <strong>Father</strong> &nbsp&nbsp @Html.CheckBoxFor(model => model.Mother, new { id = "Mother2" }) &nbsp <strong>Mother</strong>&nbsp&nbsp @Html.CheckBoxFor(model => model.General, new { id = "General2" }) &nbsp <strong>General</strong>
                        </th>
                    </tr>             
        </table>
 </div>
    
    
    <div style="height:15px"></div>
    <div>
    <input type="submit" value="Send Email" onclick="return(validate2());" id="emailbtn" />
    </div>
          <table id="StudentList"></table>
</body>
</html>
}