@{
    ViewBag.Title = "StudentsMarkDetails";
    Layout = "~/Views/Shared/NewAcePartialViewMaster.cshtml";
}

<script src="../../Scripts/Assess360/StudentsMarkDetails.js" type="text/javascript"></script>
<div class="row">
    <div class="col-xs-12 widget-container-col">
        <div class="widget-body">
            <div class="widget-main no-padding">
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <table id="StudentsList">
                    </table>
                    <div id="StudentsListPager">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


