@{
    ViewBag.Title = "ViewFAHWMarks";
    Layout = null;
}
@Html.Hidden("Id", "", new { @Value = ViewBag.Id })

<script src="../../Scripts/Assess360/ViewFAHWMarks.js" type="text/javascript"></script>

<table id="ViewFAHWMarksList">
</table>
<div id="ViewFAHWMarksListPager">
</div>
