@{
    ViewBag.Title = "ViewFAMarks";
    Layout = null;
}
@Html.Hidden("Id", "", new { @Value = ViewBag.Id })

<script src="../../Scripts/Assess360/ViewFAMarks.js" type="text/javascript"></script>

<table id="ViewFAMarksList">
</table>
<div id="ViewFAMarksListPager">
</div>
