<style type="text/css">

.ui-jqgrid .ui-pg-input
{
    width:30px;
}
.ui-jqgrid .ui-pg-selbox
{
    width:50px;
   height:25px;
}
</style>

<script type="text/javascript">

    $(document).ready(function () {

        $('#Attendance').jqGrid({
            url: '/Widget/Attendancejqgrid',
            datatype: 'Json',
            type: 'GET',
            width: 350,
            height: 140,
            colNames: ['StudentId', 'Name', 'Grade'],
            colModel: [
            { name: 'NewId', index: 'NewId', width: 70,align:"center" },
            { name: 'Name', index: 'Name', width: 100 },
            { name: 'Grade', index: 'Grade', width: 60 ,align:"center"}, ],
            rowNum: 7,
            rowList: [7,10, 20],
            sortorder: 'Asc',
            sortname: 'Name',
            pager: 'AttndancePager'
        });
        $('#Attendance').jqGrid('filterToolbar', { searchOnEnter: true, enableClear: false });
    });
</script>
<div id="AttendanceDetails">
    <table id="Attendance">
    </table>
    <div id="AttndancePager">
    </div>
</div>
