<style type="text/css">

.ui-jqgrid .ui-pg-input
{
    width:30px;
}
.ui-jqgrid .ui-pg-selbox
{
    width:50px;
   height:25px;
}
</style>

<script type="text/javascript">

    $(document).ready(function () {
        function formateadorLink(cellvalue, options, rowObject) {
            return "<a href=/Store/ShowMaterialIssueNote?Id=" + rowObject[0] + ">" + cellvalue + "</a>";
        }
        $('#MaterialOutward').jqGrid({
            url: '/Widget/MaterialOutwardjqgrid',
            datatype: 'Json',
            type: 'GET',
            width: 350,
            height: 140,
            colNames: ['IssNoteId', 'IssNoteNum', 'RequiredForCampus', 'IssuedBy', 'DeliveredThrough'],
            colModel: [
              { name: 'IssNoteId', index: 'IssNoteId', hidden: true, key: true },
            { name: 'IssNoteNumber', index: 'IssNoteNumber', width: 60, formatter: formateadorLink },
            { name: 'RequiredForCampus', index: 'RequiredForCampus', width: 100, align: "center" },
            { name: 'IssuedBy', index: 'IssuedBy', width: 50 },
            { name: 'DeliveredThrough', index: 'DeliveredThrough', width: 100 }, ],
            rowNum: 7,
            rowList: [7, 10, 20],
            sortorder: 'Asc',
            sortname: 'IssNoteNumber',
            pager: 'MaterialOutwardPager'
        });
        $('#MaterialOutward').jqGrid('filterToolbar', { searchOnEnter: true, enableClear: false });
    });
</script>
<div id="MaterialOutwardDetails">
    <table id="MaterialOutward">
    </table>
    <div id="MaterialOutwardPager">
    </div>
</div>
